<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">

</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Audio Converter</h1>
        <form action="/audio_converter" method="POST" enctype="multipart/form-data">
            <label for="audio_file">Select Audio File:</label>
            <input type="file" id="audio_file" name="audio_file" accept="audio/*" required>

            <label for="format">Select Output Format:</label>
            <select id="format" name="format" required>
                <option value="" disabled selected>Select format</option>
                <option value="mp3">MP3</option>
                <option value="wav">WAV</option>
                <option value="flac">FLAC</option>
            </select>

            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>
